.apartmentPage{
    color:var(--primaryColor);
}    

.apartment__description__area{
    display: flex;
    gap:50px;      
    @media screen and (width <= 768px) {
        flex-direction: column;
        gap:0;    
    }
}