.apartment{
    background: linear-gradient(to top, var(--secondaryColor),var(--primaryColor));
    border-radius: 25px;    
    flex-basis: 30%;
    margin: 0;
    display: flex;
    align-items: flex-end;
    min-width: 340px;
    min-height: 340px;
    text-decoration: none;
    & a{
        text-decoration: none;
    }
    &__subtitle{
        width: 50%;
        margin-left:20px;
        margin-bottom: 20px;
        color:var(--tertiaryColor);        
    }
} 
@media screen and (width <= 768px){
      .apartment{
       flex-basis: 100%;
      } 
}