.image__banner{
    margin-bottom: 20px;
    position: relative;
    .slide-number{
        color:var(--tertiaryColor);
        z-index: 1;
        position: absolute;
        bottom: 25px;
        right: 50%;
        font-size: 18px;
        font-weight: 700;
        @media screen and (width <= 768px) {
            display: none;   
        } 
    }
    .btn{
        position: absolute;
        cursor: pointer;
        height: 80px;        
        top:calc(50% - 40px);                       
        z-index: 1;
        background-color: transparent;
        color: var(--tertiaryColor);
        font-size: 80px;
        border-width: 0px; 
        &:focus{
            outline: none;
        }
        &-next{
          right: 20px;  
        }
        &-previous{
            left: 20px;
        }   
    }
    .image__container{
        position: relative;
        height: 415px;
        width: 100%;
        @media screen and (width <= 768px) {
            height: 255px;   
        }                
        img{
            position: absolute;
            inset: 0;
            height: 415px;
            width: 100%;
            object-fit: cover;
            border-radius: 25px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &.show {
                opacity: 1;
            }            
            @media screen and (width <= 768px) {
                height: 255px;   
            }            
        }
    }
}
