:root{
    --primaryColor:#FF6060;
    --secondaryColor:#863535;
    --tertiaryColor:white;
    --backgroundGrey:#F7F7F7;
    --backgroundFooter:black;
    --badgeColor:#C4C4C4;
    --starDefault:#e3e3e3;
  }

a{
    text-decoration: none;    
}

li{
  list-style-type: none;
}