.banner {
    position: relative;    
    max-width: 100%;
    height: 223px;    
    background-image: url("../assets/image/Banner.png");
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--backgroundGrey);
    @media screen and (width <= 768px) {
        height: 111px; 
    }
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.3);    
        border-radius: 25px;
    }
    & h1{
        position: relative;
        font-size: 48px;
        font-weight: 500;
        text-align: center;   
        @media screen and (width <= 768px) {
            font-size: 24px; 
            text-align: start;  
        }
    }
    }



